{% extends 'base.html.twig' %}

{% block title %}She's Mercedes{% endblock %}

{% block body %}
    <main>
        <div class="warp">
            <div class="header">
                <h3>
                    <picture><source srcset="assets/images/visuels/visuel-mob.jpg" media="(max-width: 640px)" />
                    <img src="assets/images/visuels/visuel.jpg" alt="She's Mercedes"/></picture>
                </h3>
            </div>
            <div class="form">
                <h4>Merci</h4>
                <p style="text-align:center;">Nous avons bien reçu votre dossier de candidature au programme She's Mercedes. <br>
                Nous reviendrons vers vous prochainement. </p>
                <br>
            </div>
        </div>
    </main>

{% endblock %}